footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  color: #000;
  border: 2px solid #000;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 10%;
  font-size: 20px;
  font-weight: 200;
}
